$def with (assign, detect, case)
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .custom-white {
            color: white;
        }
        .custom-black {
            color: black;
        }
        h1 {
            text-align: center;
            font-size: 400%;
        }
        .center {
            margin: auto;
            width: 59%;
        }
    </style>

    <title>assignments</title>
</head>
<body class="bd" background="http://kingofwallpapers.com/police-background-images/police-background-images-002.jpg">
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="divisions">Divisions</a></li>
          <li><a href="personnel">Personnel</a></li>
          <li><a href="response">Response</a></li>
          <li><a href="detectives">Detectives</a></li>
          <li><a href="assignments">Assignments</a></li>
          <li><a href="incidents">Incidents</a></li>
          <li><a href="cases">Cases</a></li>
          <li><a href="equipment">Equipment</a></li>
          <li><a href="suspidence">Suspects & Evidence</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <h1 class="custom-white">Assignments</h1>
    <br>
    <br>
    <br>

<div class="container custom-white">
  <table class="table custom-white">
    <thead>
      <tr>
        <th>Badge Number</th>
        <th>Case Number</th>
      </tr>
    </thead>
    <tbody>
    $for entry in assign:
        <tr id="row$entry.badgeNo">
            <td>$entry.badgeNo</td>
            <td>$entry.caseNo</td>
            <td>
              <form method="post" action="delAssignment">
                <input type="hidden" name="badgeNo" value="$entry.badgeNo" />
                <input type="hidden" name="caseNo" value="$entry.caseNo" />
                <input class="form-control" type="submit" value="Remove" />
              </form>
            </td>
        </tr>
    </tbody>
  </table>
</div>
<div class="center">
    <form method="post" action="addAssignment" id="addAssignment">
        <select form="addAssignment" name="badgeNo">
            $for det in detect:
            <option value="$det.badgeNo">$det.badgeNo</option>
        </select>
    
        <select form="addAssignment" name="caseNo">
            $for cas in case:
            <option value="$cas.caseNo">$cas.caseNo</option>
        </select>
        <input type="submit" value="Add" />
    </form>
</div>
</body>