$def with (todos)
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>police_dept</title>
</head>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Created</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
    $for todo in todos:
        <tr id="row$todo.id">
            <td>$todo.id</td>
            <td>$todo.title</td>
            <td>$todo.created</td>
            <td>$todo.done</td>
        </tr>
    </tbody>
  </table>
</div>

<form method="post" action="add">
<p><input type="text" name="title" /> <input type="submit" value="Add" /></p>
</form>

<form method="post" action="delete">
<p><input type="text" name="primeKey" /> <input type="submit" value="Delete" /></p>
</form>

<form method="post" action="update">
<p><input type="text" name="primeKey" /> <input type="text" name="column" /> <input type="text" name="value" /> <input type="submit" value="Update" /></p>
</form>