$def with (sus,evi,case)
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .custom-white {
            color: white;
        }
        .custom-black {
            color: black;
        }
        h1 {
            text-align: center;
            font-size: 400%;
        }
        .center {
            margin: auto;
            width: 59%;
        }
    </style>

    <title>suspect evidence</title>
</head>
<body class="bd" background="http://kingofwallpapers.com/police-background-images/police-background-images-002.jpg">
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="divisions">Divisions</a></li>
          <li><a href="personnel">Personnel</a></li>
          <li><a href="response">Response</a></li>
          <li><a href="detectives">Detectives</a></li>
          <li><a href="assignments">Assignments</a></li>
          <li><a href="incidents">Incidents</a></li>
          <li><a href="cases">Cases</a></li>
          <li><a href="equipment">Equipment</a></li>
          <li><a href="suspidence">Suspects & Evidence</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <h1 class="custom-white">Suspects & Evidence</h1>
    <br>
    <br>
    <br>


<div class="container custom-white">
    <h2 class="custom-white">Suspects</h2>
  <table class="table custom-white">
    <thead>
      <tr>
        <th>Suspect ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Case</th>
      </tr>
    </thead>
    <tbody>
        $for entry in sus:
        <tr id="row$entry.susId">
            <td>$entry.susId</td>
            <td>$entry.name</td>
            <td>$entry.address</td>
            <td>$entry.caseNo</td>
            <td>
              <form method="post" action="removeSus">
                <input type="hidden" name="susId" value="$entry.susId" />
                <input class="form-control" type="submit" value="Remove" />
              </form>
            </td>
        </tr>
    </tbody>
  </table>
</div>

<div class="center">
    <form method="post" action="addSus" id="addSus">
        <input type="text" name="name" placeholder="Suspect name" /> 
        <input type="text" name="addr" placeholder="Address" />
        <select form="addSus" name="caseNo">
            $for record in case:
            <option value="$record.caseNo">$record.caseNo</option>
        </select>
        <input type="submit" value="Add" />
    </form>
</div>

<br>
<br>

<div class="container custom-white">
    <h2 class="custom-white">Evidence</h2>
  <table class="table custom-white">
    <thead>
      <tr>
        <th>Evidence ID</th>
        <th>Description</th>
        <th>Case</th>
      </tr>
    </thead>
    <tbody>
$for entry in evi:
        <tr id="row$entry.evId">
            <td>$entry.evId</td>
            <td>$entry.description</td>
            <td>$entry.caseNo</td>
            <td>
              <form method="post" action="removeEv">
                <input type="hidden" name="evId" value="$entry.evId" />
                <input class="form-control" type="submit" value="Remove" />
              </form>
            </td>
        </tr>
    </tbody>
  </table>
</div>

<div class="center">
    <form method="post" action="addEv" id="addEv">
        <input type="text" name="desc" placeholder="Description" /> 
         <select form="addEv" name="caseNo">
            $for record in case:
            <option value="$record.caseNo">$record.caseNo</option>
        </select>
        <input type="submit" value="Add" />
    </form>
</div>


</body>